body {
    background-color: rgb(201, 201, 201);
    font-family: monospace;
}

input {
    margin: 10px;
    background-color: rgb(201, 201, 201, 0.692);    
    color: black;
    display: inline-block;
    border: 0.1em solid black; 
}

input:hover {
    background-color: whitesmoke;
}

button {
    font-size: 15px;
    background-color: rgb(201, 201, 201, 0.692);    
    color: black;
    display: inline-block;
    border: 0.1em solid black; 
}

button:hover {
    background-color: whitesmoke;
}

.headline {
    text-align: center;        
    font-size: 40px;
    margin-bottom: 150px;
    margin-top: 20px;
}

.lib {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
 
th, td {
    border: 1px solid black;
    padding: 5px;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}


.newBookForm {
    display: none;
    z-index: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.headlineForm {
    text-align: center;        
    font-size: 30px;
    margin-top: 20px;
}

.btnConfirm{
    margin: 10px;
}

.btnRemove {
    border: 1px solid black;
    padding: 5px;
    font-weight: bold;
    border: none;
}